@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');


*{
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body{
	background-color: black; 
	height: 100%;
	overflow:hidden;
}

.box{
	position: absolute;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.box span{
	text-transform: uppercase;
	display: block;
	
}

.box .links {
	height: 40px;
	margin: 20px auto 0;
}

.box .links img {
	width: auto;
	height: 40px;
}

.links a {
	padding:0 10px;
	display: inline;
}

.links a img {
	display: inline-block;
	filter: invert(1);
	visibility: hidden;
	animation-delay: 15s;
	transition: transform .2s ease-in-out;
}

.links a:nth-child(1) img{
	animation: 1.7s 2s fadeIn forwards;
}

.links a:nth-child(2) img{
	animation: 1.7s 2.5s fadeIn forwards;
}

.links a img:hover {
	transform: scale(1.2);
}
.One{
	color: white;
	font-size: 80px;
	font-weight: 700;
	letter-spacing: 5px;
	margin-bottom: 20px;
	background: black;
	position: relative;
	animation: text 2s;
	font-family: "Lucida Console", Monaco, monospace;
}
.Two{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 30px;
	color:gray;
}

@keyframes text {
	0%{
		color: black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
	
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

section{
	border:0px solid #f00;
	height:100%;
	padding:50px 30px;
	box-sizing:border-box;
	position: relative;
	display: block;
}

#about-me {
	color: white;
}

.desc p {
	font-family: "Roboto Slab", serif;
	font-size: 38px;
	margin-top: 60px;
}

.skills {
	color: white;
}

.skills h1 {
	font-family: 'Noto Sans Mono', monospace;
	text-align: center;
	font-size: 38px;
}

.skills p {
	font-family: "Roboto Slab", serif;
	font-size: 38px;
	margin-top: 60px;
}

nav{
	position:fixed;
	font-size:12px;
	color:#aaa;
	width:300px;
	height:100%;
	right:-300px;
	padding:80px 30px;
	box-sizing:border-box;
	transition:all 0.2s ease;
	z-index:99
}
.slide{
	right:0px
}
a{
	color:white;
	text-decoration:none;
	outline:0px;
	text-align: right;
}
nav a{
	font-family: Roboto, sans-serif;
	display:block;
	font-size:30px;
	padding:10px 0
}
nav a:hover{
	color:#fff
}
nav p{
	padding-top:30px
}
hr{
	border:0;
	border-top:1px solid #666;
}
.open, .close{
	position:fixed;
	color: white;
	top:50px;
	right:20px;
	z-index:9;
	font-size:70px;
	line-height:11px;
	opacity:0.6;
	transition:all 0.1s
}
.close{
	color:#fff;
	z-index:100
}
.open:hover,.close:hover{
	opacity:1
}
.hidden{
	opacity:0;
	visibility:hidden;
}


/* media queries */

@media only screen and (max-width: 490px) {
	nav a{
		font-size: 30px;
		margin-top: 10px;
	}

	.skills h1 {
		font-size: 30px;
	}

	.skills p {
		font-size: 25px;
	}

	.desc p {
		font-size: 25px;
	}
}
